.bg-transparent{
    background-color: transparent !important;
}

.gif{
    background-image: url('../img/PixelArt.gif');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: left;
    padding: 20%;
}

.gif h1{
    color: cornflowerblue;
    margin-left: 70%;
    margin-right: 200px;
    margin-top: 30%;
    text-align: left;
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
}

.gif p{
    color: aliceblue;
    margin-left: 60%;
}

